
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.App {
  text-align: center;
}

.App-header {
  background-color: #dbdcdc;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 20px;
}
h1{
  font-weight: 500;
  color: rgb(114, 113, 113);
}
h3{
  color: rgb(98, 97, 97) ;
}

.header{
  width: 100%;
  float: left;
  margin-bottom: 60px;
  background-color: white;
  
}
.leftbox{
  width: 40%;
  float: left;

text-align: left;


}
.rightbox{
  width: 60%;
  float: left;

  padding: 20px 30px;

}
.nav{
  font-size: 19px;
  color: rgb(83, 83, 83);
  text-align: right;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;

}
span{
  margin-right: 30px;
}
.color{
  color: rgb(252, 21, 125);
  font-size: 25px;
  font-weight: 700;
  margin-right: 0;
}
.img2{
  width: 120px;
  margin-left: 30px;
  cursor: pointer;
}


.productlist{
  width: 18%;
padding-bottom: 20px;
  float: left;
  background-color: white;margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(84, 84, 84);

}


.img{
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
  float: left;
}


@media screen and (min-width:320px) and(max-width:768px){
  body{
    background-color: aqua;
  }
}